.links {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 16px;
  color: #97A4A2;
  font-weight: 500;
  line-height: 29.26px;
  
}

.links a {
  text-decoration: none;
  color: inherit;
}
  
  .links a:hover {
    color: #4b626c;
  }