.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .blocoRegistro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    width: 25vw;
    height: 100vh;
    padding-top: 50px;
  }
  
  .tituloRegistro {
    font-size: 54px;
    font-weight: 400;
    color: #4b626c;
    margin-bottom: 50px;
    line-height: 78.02px;
  }

  .conjuntoInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin : 0 auto; 
 }

