.botaoSeta {
  color: #4B626C;
  padding-left: 64%;
}
  
  .button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .button > svg {
    color: #4b626c;
    font-size: 40px;
    transition: color 0.3s ease;
  }
  
  .button:hover > svg {
    color: #0056b3;
  }